RewriteEngine on  
 RewriteBase /rest/  
 RewriteCond %{REQUEST_FILENAME} !-d  
 RewriteCond %{REQUEST_FILENAME} !-f  
 RewriteCond %{REQUEST_FILENAME} !-l  
 RewriteRule ^(.+)$ Api.php?url=$1 [QSA,NC,L]  

## nginx configuration
#location /rest/ {
#if (!-e $request_filename){
#rewrite ^/rest/(.+)$ /rest/Api.php?url=$1 break;
#}
#}